<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p>&copy; 2025, CSE 340 App Baluku Josephats</p>
    <p><a href="/inv/broken" title="Will trigger intentional exception">Error Link</a></p>
  </footer>
